#mylogo {
    max-width: 10%;
    max-height: 10%;
}

body {

    background-color: rgb(227, 227, 244);
}

.myheading {
    background-color: rgb(227, 227, 244);
    padding: 2%;
    margin: auto;
}

.mycotrols-area {
    margin: 15%;
}

.mypress-jesus-green {
    margin: 1%;
    color: green;

}

.mypress-jesus-green:active,
.mypress-jesus-green:hover {
    margin: 1%;
    color: white;
    background-color: green;

}


.mypress-jona-blue {
    margin: 1%;
    color: blue;
}

.mypress-jona-blue:active,
.mypress-jona-blue:hover {
    margin: 1%;
    color: white;
    background-color: green;

}


.mypress-elijah-orange {
    margin: 1%;
    color: orange;
}

.mypress-elijah-orange:active,
.mypress-elijah-orange:hover {
    margin: 1%;
    color: white;
    background-color: green;

}


.mypress-moses-red {
    margin: 1%;
    color: red;
}

.mypress-moses-red:active,
.mypress-moses-red:hover {
    margin: 1%;
    color: white;
    background-color: green;

}

#myvideo {

    width: 100%;
    height: 100%;

}


#mycenter {

    width: auto;
    height: auto;
    background-color: rgba(227, 227, 244, 0.6);
    right: 33%;
    bottom: 10%;
    position: absolute;
    border: solid;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}


/*body {
    background-image: url("assets/images/background_video.mp4");
}*/