#mylogo {
    max-width: 10%;
    max-height: 10%;
}

body {

    background-color: rgb(227, 227, 244);
}

.myheading {
    background-color: rgb(227, 227, 244);
    padding: 2%;

}

#myvideo {

    width: 100%;
    height: 100%;

}

.mypress-jesus-green {

    border-radius: 50%;
}


#mycenter {

    width: auto;
    height: auto;
    padding-top: auto;
    background-color: rgba(227, 227, 244, 0.6);
    right: 33%;
    bottom: 10%;
    position: absolute;
    border: solid;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}


/*body {
    background-image: url("assets/images/background_video.mp4");
}*/